::selection {
  background: #a0cdff;
}

a.link {
    color: brown;
  transition: color .2s;
}
a {
    color: white;
  transition: color .2s;
}



.title-text i {
  font-size: 20px;
}

.card {
  transition: all .5s;
  width: 100%;
  max-width: 350px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 20px rgba(33,33,33,.2);
}
.card:hover {
  box-shadow: 2px 2px 25px rgba(33,33,33,.5);
}

.card .zoom {
  overflow: hidden;
}
.card .zoom img {
  transition: all 1s;
}
.card:hover .zoom img {
  transform: scale(1.1);
}

.profile-pic {
  max-width: 150px;
  box-shadow: 2px 2px 20px rgba(33,33,33,.2);
}

.navbar-nav .active {
    color: white;!important
}

.nav-link:hover {
    color: white;!important
}

.navbar {
  box-shadow: 0 0 0px rgba(33,33,33,.4);
  text-shadow: 2px 2px 5px rgba(33,33,33,.5);
  background-color: transparent;
    font-size: 24px;
}

.navbar-brand {
    font-size: 40px;!important 
}

.navbar-toggler {
  border: none;
  outline: none !important;
}

.form-control:focus {
  box-shadow: 2px 2px 10px rgba(33,33,33,.2);
}

.footer {
  box-shadow: inset 0 10px 20px -10px rgba(33,33,33,.2);
}

.modal-content {
  border: none;
  box-shadow: 2px 2px 25px rgba(33,33,33,.5);
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    max-width: none;
  }
}

#Hem .row {
  min-height: 100vh;
  z-index: -1;
  text-shadow: 2px 2px 5px rgba(33,33,33,.5);
}

#Chatbutton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  transition: all .2s;
  box-shadow: 0 0 20px rgba(33,33,33,.4);
}

#Closechat {
  font-size: 1.3rem;
  cursor: pointer;
}

.chat-shrink-hover:hover {
  box-shadow: 2px 2px 25px rgba(33,33,33,.5);
  transform: scale(1.1);
}

.chat-icon {
  font-size: 2rem;
}

.chat-expand {
  border-radius: 1%;
  width: 300px;
  height: 300px;
  background-color: white;
}

.chat-shrink {
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
  background-color: brown;
}

.chat-content {
  white-space: normal;
}

@media (max-width: 767px) {
  .chat-shrink {
    width: 65px;
    height: 65px;
  }
  .chat-icon {
    font-size: 1.5rem;
  }
}

.particle-network-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(to left top, #005c97, #0083b3, #00a8b4, #00c99f, #90e581);
}

.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), transparent);
}

.glow-1 {
  width: 150vw;
  height: 150vh;
  margin-top: -75vh;
  margin-left: -75vw;
  animation: glow-1-move 25s linear infinite both;
}

@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%);
  }
  to {
    transform: translate(100%, -100%);
  }
}
.glow-2 {
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  animation: glow-2-move 25s linear 8.3333333333s infinite both;
}

@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(100%, 100%);
  }
}
.glow-3 {
  width: 120vw;
  height: 120vh;
  margin-top: -60vh;
  margin-left: -60vw;
  animation: glow-3-move 25s linear 16.6666666667s infinite both;
}

@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(0%, -100%);
  }
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
}

.maintext {
    padding-top: 15vh;
    position: fixed;
	top: 2em;
  z-index: -99;
  width: 40%;
    left: 8%;
    color: white;
}

.item-1, 
.item-2, 
.item-3 {
    padding-top: 55vh;
	position: fixed;
  display: block;
	top: 2em;
  z-index: -99;
  width: 65%;
  padding-left: 50vh;
  font-size: 2em;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: 50%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: 50%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: 50%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}