::selection {
    background: #a0cdff;
}

a.link {
    color: rgba(220, 94, 58,1);
    transition: color .2s;
}
a {
    color: white;
    transition: color .2s;
}



.title-text i {
    font-size: 20px;
}

.card {
    transition: all .5s;
    width: 100%;
    max-width: 350px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 20px rgba(33,33,33,.2);
}
.card:hover {
    box-shadow: 2px 2px 25px rgba(33,33,33,.5);
}

.card .zoom {
    overflow: hidden;
}
.card .zoom img {
    transition: all 1s;
}
.card:hover .zoom img {
    transform: scale(1.1);
}

.navbar-toggler {
    background-color: rgba(70,70,70,1);
}

.navbar-toggler-icon {
    color: black;
}

.btn-primary {
    background-color: rgba(220, 94, 58,1);
    border-color: rgba(220, 94, 58,1);
}

.btn-primary:hover {
    background-color: rosybrown;
    border-color: rosybrown;
}

.profile-pic {
    max-width: 150px;
    box-shadow: 2px 2px 20px rgba(33,33,33,.2);
}

.navbar-nav .active {
    color: white !important;
}

.nav-link:hover {
    color: white !important;
}

.navbarbgcolor {
    background-color: rgba(240, 114, 78,1)!important;
}

.navbar {
    transition: background-color 0.6s;
    box-shadow: 0 0 0px rgba(33,33,33,.4);
    text-shadow: 2px 2px 5px rgba(33,33,33,.5);
    background-color: rgba(240, 114, 78,1);
    font-size: 24px;
    height: 85px;
}

@media(min-width:700px){
.navbar {
    transition: background-color 0.6s;
    box-shadow: 0 0 0px rgba(33,33,33,.4);
    text-shadow: 2px 2px 5px rgba(33,33,33,.5);
    background-color: transparent;
    font-size: 24px;
    height: 85px;
}
    }

.navbar-brand {
    font-size: 25px !important; 
}

@media(min-width:700px){
    .navbar-brand {
        font-size: 55px !important; 
    }
}

.navbar-brand .active {
    color: white !important;
}

.navbar-brand:hover {
    color: white !important;
}

.navbar-toggler {
    border: none;
    outline: none !important;
}

.form-control:focus {
    box-shadow: 2px 2px 10px rgba(33,33,33,.2);
}

.footer {
    box-shadow: inset 0 10px 20px -10px rgba(33,33,33,.2);
}

.modal-content {
    border: none;
    box-shadow: 2px 2px 25px rgba(33,33,33,.5);
}

@media (max-width: 991px) {
    .container {
        width: 100%;
        max-width: none;
    }
}

#Hem .row {
    min-height: 100vh;
    z-index: -1;
    text-shadow: 2px 2px 5px rgba(33,33,33,.5);
}

#Chatbutton {
    position: fixed;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    transition: all .2s;
    box-shadow: 0 0 20px rgba(33,33,33,.4);
}

#Closechat {
    font-size: 1.3rem;
    cursor: pointer;
}

.chat-shrink-hover:hover {
    box-shadow: 2px 2px 25px rgba(33,33,33,.5);
    transform: scale(1.1);
}

.chat-icon {
    font-size: 2rem;
}

.chat-expand {
    border-radius: 1%;
    width: 270px;
    height: 350px;
    background-color: white;
}

.chat-shrink {
    width: 80px;
    height: 80px;
    color: white;
    border-radius: 100%;
    background-color: rgba(220, 94, 58,1);
}

.chat-content {
    white-space: normal;
}

@media (max-width: 767px) {
    .chat-shrink {
        width: 65px;
        height: 65px;
    }
    .chat-icon {
        font-size: 1.5rem;
    }
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
}

.maintext {
    color: white;
}

.pslider {
    color: white;
    font-size: 30px;
}

@media(max-width:700px){
.navbar-collapse {
    background-color:rgba(240, 114, 78,1);
}
    }