body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 900 !important;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}

footer {
  background-color: #da2727;
  color: white;
}

a, a:hover {
  color: inherit;
  font-size: inherit;
}

table th, table td {
  border: none !important;
}

.btn-primary {
  background-color: #da2727;
  border: 1px white;
  font-weight: 900;
  box-shadow: 2px 2px 5px rgba(33,33,33,.5);
}

.btn-primary:hover, .btn-primary:active {
  background-color: #B3000C !important;
}

.btn:focus {
  box-shadow: 2px 2px 5px rgba(33,33,33,.8);
}

.jumbotron {
  background-color: transparent;
  text-shadow: 2px 2px 5px rgba(33,33,33,.5);
}

.jumbotron .display-1 {
  color: #da2727;
  font-weight: 900;
  font-size: 15vw;
}

@media (min-width: 550px) {
  .jumbotron .display-1 {
    font-size: 5rem;
  }
}

.fw-icon {
  min-width: 30px;
}

.cutout {
  filter: brightness(0) invert(1);
}

.navbar {
  font-weight: 900;
}

.navbar-brand {
  color: #da2727 !important;
}

.navbar-brand, .nav-link {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 900;
}

.menu-icon {
  display: none;
}

.nav-link {
  color: #575a5d;
  padding-right: 0 !important;
  transition: all .2s;
}

.nav-link:hover, .nav-link.active  {
  color: #da2727 !important;
  transform: translateX(7px);
}

.nav-icon {
  opacity: 0;
  color: #da2727 !important;
  transition: all .2s;
}

.nav-link:hover > .nav-icon, .nav-link.active > .nav-icon {
  opacity: 1;
}

#Hem .card, #Kontakt .card {
  background-color: #da2727;
  border: none;
  border-radius: 1rem;
  color: white;
  width: 25rem;
  box-shadow: 5px 5px 25px rgba(33,33,33,.3);
  transition: all .5s;
}

#Hem .card:hover {
  box-shadow: 2px 2px 25px rgba(33,33,33,.9);
  transform: translateY(-10px);
}

.card-logo {
  width: 100px;
}

.badge-list {
  font-size: 1.3rem;
  color: white;
  background-color: #da2727;
}

.tab-content {
  background-color: white;
}

#accordion .btn {
  box-shadow: none;
  white-space: inherit;
  text-align: left;
}

#accordion h5 {
  margin: 0;
}

#accordion .btn-link {
  color: inherit;
}

#accordion .card {
  width: 100%;
}

#logos {
  background-color: transparent !important;
  min-height: 100vh;
}

#logos::after {
  content: "";
  background-image: url("../img/bg-hero3.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

#Chatbutton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  transition: all .2s;
  box-shadow: 0 0 20px rgba(33,33,33,.4);
  z-index: 10000;
}

#Closechat {
  font-size: 1.3rem;
  cursor: pointer;
}

.chat-shrink-hover:hover {
  box-shadow: 2px 2px 25px rgba(33,33,33,.5);
  transform: scale(1.1);
}

.chat-icon {
  font-size: 2rem;
}

.chat-expand {
  border-radius: 1%;
  width: 300px;
  height: 570px;
  background-color: white;
}

.chat-shrink {
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
  background-color: #da2727;
}

.chat-content {
  white-space: normal;
}

@media (max-width: 767px) {
  .chat-shrink {
    width: 65px;
    height: 65px;
  }
  .chat-icon {
    font-size: 1.5rem;
  }
}
